<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dell App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6AAF50E9408E0DC29F7A630D7C44A0D895514575</string>
				<key>dateExpires</key>
				<string>4/7/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>42S4W4G2X2.com.ryan.finley.Dell-App</string>
				<key>com.apple.developer.team-identifier</key>
				<string>42S4W4G2X2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Dell App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2e484fdb-cc0d-4d35-9fde-6b441e6a651d</string>
				<key>dateExpires</key>
				<string>4/7/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.ryan.finley.Dell-App</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>42S4W4G2X2</string>
				<key>name</key>
				<string>Ryan Finley</string>
			</dict>
			<key>versionNumber</key>
			<string>.2</string>
		</dict>
	</array>
</dict>
</plist>
